.box-title{ 
    text-align: center;
}
.btn-div{
display: flex;
justify-content:center;
}

.form-box .ant-select {
    width:100%;
}

  .headertext{
    font-weight: bold;
font-size: 28px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
  }
  .subheadertxt{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #595959;
  }
  .appimgcontainer {
    width: 100%;
    height: auto;
    background: #92B0FF;
    /* padding: 3%; */
}
.appimgcontainer .side-img{
    width: 100%;
    height: 100%;
}
.appimgcontainer .create-banner-text{
    margin: 5% auto;
}
 .appimgcontainer .banner-titletop{
    font-weight: 600;
font-size: 20px;
line-height: 32px;
text-align: center;

color: #FFFFFF;
}
.appimgcontainer .banner-subtitletop{
    font-weight: bold;
font-size: 20px;
line-height: 32px;
align-items: center;
text-align: center;
color: #000000;
} 
.appimgcontainer .banner-subtitle{
    font-weight: 500;
font-size: 17px;
line-height: 32px;
align-items: center;
text-align: center;
color: #FFFFFF;
} 
.create-app-containers{
    width: 100%;
    height: 100%;
    /* padding: 1%; */
    /* margin: auto; */
    background-color: #FFFFFF;
}
.createApp-form-box{
    /* height:100%; */
    background-color: #F7F7FC;
    height: auto;
    /* width: 400px; */
    justify-content: center;
    height: auto;
    padding: 5% 20%;
    margin: auto;
}
.banner-title{
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

.createAppSubtxt {
font-weight: bold;
font-size: 14px;
line-height: 24px;
margin: 5px 0;
display: flex;
align-items: center;
color: #595959;
}

.text-input-box{
    background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 8px;
}

.app-button .ant-btn{
    background: #0069E7;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    height: 45px;
    margin: auto 5px;
}
.app-link .ant-btn-link {
    color: #0069E7;
    font-weight: bold;
    font-size: 15px;
line-height: 24px;
height: 45px;
text-transform: capitalize;
margin: auto 5px;
}
.choose-file-btn .ant-btn{
    font-weight: bold;
font-size: 10px;
text-transform: capitalize;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 7px;
color: #0069E7;
width: fit-content;
margin: 0px 10px 0px 10px;
}

.text-input-upload{
    background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 8px;
padding: 6px 0;
}
.input-box-dark{
    background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 8px;
height:43px;
}
.textarea-box-dark{
    background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 8px;
}

@media (max-width: 800px) {
    .createApp-form-box{
        margin: 6% 10%;
        line-height:40px;
        height: auto;
        width: auto;
    }
}
@media (max-width: 600px) {
    .createApp-form-box{
        height: auto;
        width: auto;
        margin: 2% 3%;
        line-height:40px;
    }
}
@media (max-width: 400px) {
    .createApp-form-box{
        height: auto;
        width: auto;
        margin: 3% 4%;
        line-height:40px;
    }
}