.subheader-container{
    background-color: #fff;
    padding: 20px;
    /* margin: 15px; */
}

.upload-container {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    width: 290px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.upload-container .upload-box{
    vertical-align: middle !important;
    padding: 30% 0;
}
.upload-container .upload-box .plusicon{
    color: #0069E7;
    font-size: 48px;
    /* width: 48px; */
   text-align: center;
}
.upload-container .upload-box .addModule{
    font-weight: 500;
font-size: 16px;
text-align: center;
text-transform: capitalize;
color: #0069E7;
}
.empty-box{
    height: 100%;
    border: 1px dashed #C9C9D8;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

}
.labels .title{
    font-weight: bold;
font-size: 22px;
/* line-height: 32px; */
text-align: center;
color: #696974;
opacity: 0.6;
}
.labels .subtitle{
    font-style: normal;
font-weight: 300;
font-size: 16px;
/* line-height: 28px; */
text-align: center;
color: #A2A2AA;

}
.empty{
  
    text-align: center;   
    align-items: center;
   margin: auto;
}
 .labels{
     margin: auto;
 }
 .empty-img{
    margin: auto;
 }
 .flex-container-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container-grid > div {
    /* background-color: #f1f1f1; */
    width: min-content;
    margin: 6px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  /* ************ app_create_Search_Box ************** */

  .app_create_Search_Box .dd-box.ant-select {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    display: block;
}