.desc .ant-descriptions-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.d-flex {
  display: flex;
}

.text-container {
  position: absolute;
  right: 0;
  margin-right: 0px;
  margin-top: 5px;
  text-align: center;
}

.title-text {
  color: #263238;
  font-size: 28px;
  font-weight: 600;
  margin-top: 5px;
}

.info-text {
  margin-top: 10px;
  font-size: 18px;
}

.tile1-info {
  padding-left: 10px;
  line-height: 20px;
  margin: 6% 0;
}

.title1-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.title1-subtitle {
  font-weight: normal;
  font-size: 11px;
  color: #8C8C8C;
}

.module {
  font-size: 15px;
  color: #595959;
  margin-top: 12px;
  font-weight: 400;
}

.tile2-title {
  font-weight: normal;
  font-size: 12px;
  color: #777777;
}

.title2-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #222222;
}

.tile2-info {
  line-height: 20px;
  margin: 10% 0;
}

.btn-blue {
  margin: auto;
}

.btn-blue .ant-btn>span {
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  color: #0069E7;
}

.btn-blue .ant-btn-round.ant-btn-sm {
  /* height: 24px; */
  padding: 0px 12px;
  font-size: 12px;
  border: 1px solid #0069E7;
  box-sizing: border-box;
  border-radius: 4px;
}

.tile3-info {
  margin: 5% 0% 0% 5%;
}

.tile3-title { 
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
}

.tile3-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  margin: 5% auto;
  padding-left: 10px;
}

.vertical {
  border: 0;
  margin: 0 15px;
  border-right: 1px solid #BFBFBF;
  height: 100px;
}

.tile1 img {
  width: 85%;
}

@media (max-width:980px) {
  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn{
    margin-top:10px;
  }
}

@media (max-width:850px) {
  .tile1 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }

  .tile3-subtitle {
    font-size: 15px;
  }
}

@media (max-width:767px) {
  .tile1 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn{
    margin-top:10px;
  }
}

@media (max-width:550px) {
  .tile1 img {
    width: 100%;
  }
  .tile3 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn{
    margin-top:10px;
  }
}