/* .cardrow {
    display: flex;
    justify-content: space-between;
} */

.cardrow .ant-card {
    /* width: 220px; */
    width: auto; 
    border-radius: 10px;
}

.cardrow .card-title {
    /* font-family: Nunito; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.cardrow .card-description {
    /* font-family: Nunito; */
    font-style: normal;
    /* font-weight: normal; */
    font-size: 12px;
    line-height: 24px;
    color: #8C8C8C;

}


.cardrow .card-color {
    /* font-family: Nunito; */
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #595959;

}
.cardrow .card-color-round {
    width: 10px;
    /* height:15px; */
    margin-right: 5px;
     padding:7px;
     border-radius: 50%;
     background-color:#C4C4C4;

}
.cardrow .select_theam_header {
    padding:20px;
}

.cardrow .ant-card-body {
    padding: 10px 20px;
}

.p-tag {
    margin-bottom: 0;
}

.select_theam_header .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 10px 0;
}

.select_theam_search_box {
    padding: 20px 0 0 0;
} 
