.d-flex{
    display: flex;
}

.text-center{
    justify-content:center;
}
/* .ant-modal .create_module_popup {
    width: 300px;
    height: 250px;
} */
.create_module_popup .ant-modal-header ,
 .create_page_popup .ant-modal-header{
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    border-bottom: none !important;
    border-radius: 2px 2px 0 0;
}

.create_module_popup .ant-modal-footer {
    padding: 10px 16px;
    text-align: right;
    background: transparent;
    border-top: none !important;
    border-radius: 0 0 2px 2px;
}

 .create_module_popup .ant-modal-content,
  .create_page_popup .ant-modal-content{
    width: 400px !important; 
    border-radius: 10px;
    margin: auto;
    padding: 24px;
}

.create_module_popup h4.ant-typography, .ant-typography h4 ,
.create_page_popup h4.ant-typography, .ant-typography h4 
 { 
    justify-content: center;
    display: flex; 
}

/* ********* Filer box ************* */
 
.filter_popup_box .ant-modal-content{
  width: 230px !important; 
  border-radius: 10px;
  margin: auto;
}

.filter_popup_box .ant-form-item { 
    margin-bottom: 0px; 
}
.footer_button_div{ 
    display: flex; 
    margin-top: 10px;
    justify-content: space-between;
}

/* ***************************** */
 
  .action_popup .ant-btn { 
    text-align: center;
    padding: 10;
  }

  .action_box{
      width: 150px;
      border-radius: 20px;
  }
  .action_box .ant-divider-horizontal,
  .edit_popup_box .ant-divider-horizontal,
  .save_popup_box .ant-divider-horizontal
  {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 5px 0;
  } 
/* ****************** Confirm box *********************** */
.delete_popup .ant-modal-content{
  width: 600px !important; 
  border-radius: 5px;
  margin: auto; 
}

.delete_popup h4.ant-typography, .ant-typography h4 
 { 
    justify-content: center;
    display: flex; 
} 

.confirm_box .icon{
  font-size: 30px;
  color: #FFD000;
}
.confirm_box .heading{ 
  display: flex;
  justify-content:center;
  padding:15px 0;
}
.confirm_box .description p{ 
  color:#595959; 
  text-align:center;
  padding:0 10px 0;
  margin:0;
}
.confirm_box .buttons_div{ 
  padding:20px 0;
}
.confirm_box .ant-btn{ 
  margin: 0 10px;
  padding: 0px 20px;
  border-radius: 5px;
}
