.green {
    color: #00802B;
}

.inprogress {
    color: #D2B555;
    background-color: rgb(247, 247, 247);
    padding: 5px 15px;
}

.closed {
    color: #D36865;
    background-color: rgb(247, 247, 247);
    padding: 5px 15px;
}

.approved {
    color: #21B252;
    background-color: rgb(247, 247, 247);
    padding: 5px 15px;
}

.p-tag {
    margin-bottom: 0;
}

.d-flex {
    display: flex;
}

.text-center {
    justify-content: center;
}

/* ************ Card Antd *********** */

.box-card {
    display: flex;
    justify-content: space-between;
}

.RecentActivityGridView .Maincard {
    position: relative;
}

.RecentActivityGridView .cardImgDiv {
    position: absolute;
    transform: translateY(-85%);
}

.RecentActivityGridView .cardTextDiv {
    margin-top: 20px;
}

.RecentActivityGridView .subTitle {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: rgb(165, 165, 165);
}

.RecentActivityGridView .comments {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}

.RecentActivityGridView .footerDiv {
    display: flex;
    justify-content: space-around;
}

/* ********************.RecentActivityGridView********************** */

.RecentActivityGridView .card {
    width: 300px;
    height: Auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid rgb(223, 223, 223) 1px;
}

.RecentActivityGridView .card_body {
    position: relative;
}

.RecentActivityGridView .card_img {
    position: absolute;
    transform: translate(0%, -110%);
}

.RecentActivityGridView .card_text {
    margin-top: 30px;
}

.RecentActivityGridView .sub_title {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: rgb(165, 165, 165);
}

.RecentActivityGridView .comments {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}

.RecentActivityGridView .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RecentActivityGridView .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 10px 0;
}


/* ******************** AppsGridView ******************** */

.AppsGridView .card {
    width: 300px;
    height: Auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid rgb(223, 223, 223) 1px;
}

.AppsGridView .card_body {
    position: relative;
}

.AppsGridView .card_img {
    position: absolute;
    transform: translate(0%, -110%);
}

.AppsGridView .card_text {
    margin-top: 30px;
}

.AppsGridView .sub_title {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: rgb(165, 165, 165);
}

.AppsGridView .comments {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}

.AppsGridView .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppsGridView .stetus_box {
    display: flex;
    align-items: middle;
    justify-content: space-between;
}

.AppsGridView .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 20px 0;
}

/* *****************  BlocksGridView ******************** */

.BlocksGridView .card {
    width: 300px;
    height: Auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid rgb(223, 223, 223) 1px;
}

.BlocksGridView .card_body {
    position: relative;
}

.BlocksGridView .card_img {
    position: absolute;
    transform: translate(0%, -110%);
}

.BlocksGridView .card_text {
    margin-top: 30px;
}

.BlocksGridView .sub_title {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: rgb(165, 165, 165);
}

.BlocksGridView .comments {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}

.BlocksGridView .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BlocksGridView .stetus_box {
    display: flex;
    align-items: middle;
    justify-content: space-between;
}

.BlocksGridView .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 20px 0;
}

/* ******************** RecentAppsBox ********************* */

.RecentAppsBox .app_box {
    width: 350px;
    height: Auto;
    padding: 6%;
    border-radius: 10px;
    border: solid rgb(223, 223, 223) 1px;
}
.app_box_text h3{
    font-weight: 600;
font-size: 20px;
line-height: 100%;
text-transform: capitalize;
color: #27272B;
}

.RecentAppsBox .img_div {
    /* display: flex; */
    justify-content: center;
    background-color: #FFFFFF;
}

.RecentAppsBox .sub_title {
    font-weight: normal;
font-size: 13px;
line-height: 18px;
text-transform: capitalize;
color: #8F949D;
}

.recent_apps_list_item {
    padding: 15px;
    margin: 10px 0;
    background-color: #F7F6F4;
}

.recent_apps_list_item p {
    font-size: 10px;
    color: rgb(165, 165, 165);
}

.recent_apps_list_item h5 {
    font-weight: 600;
    font-size: 13px;
}

.recent_apps_list .button_div {
    display: flex;
    justify-content: center;
}

/* ****************count_box**************** */
.count_box {
    width: 130px;
    height: 80px;
    background-color: #F1F7F8;
    padding: 10px 20px;
    border-radius: 7px;
}

.count_number,
.count_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **************  Elements setting ************ */
.ElementSetting .elementsettingbox {
    width: 300px;
    height: Auto;
    padding: 15px;
    border-radius: 10px;
    border: solid rgb(223, 223, 223) 1px;
}

.ElementSetting .elementsettingheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ************ AssetManagementAppCardDiv *************** */
.AssetManagementAppCardDiv {
    /* clip-path: polygon(0 0, 18% 0, 30% 9%, 100% 10%, 100% 100%, 0 100%);
     */
    clip-path: polygon(0 0, 18% 0, 27% 7%, 100% 7%, 100% 100%, 0 100%);
    /* height: auto;
    width: 300px; */
    height: 350px;
    text-align: left;
    width: 290px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(255, 240, 240);
}

.counter_box {
    display: flex;
    justify-content: space-evenly;
}

.AssetManagementAppCardDiv .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 10px 0;
}

.count_box {

    margin: 6px;
}

.AssetManagementAppCardDiv .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AssetManagementAppCard .card-body {
    margin-top: 40px;
}

.AssetManagementAppCard .title{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
}
.AssetManagementAppCard .sub_title {
    font-weight: normal;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #8C8C8C;
}

/* -******************* page_type_box ******************* */
.page_type_box {
    padding: 10px;
    box-shadow: 4px 8px 20px rgba(45, 59, 183, 0.25);
    border-radius: 6px;
    background-color: #F7F7FC;
}

.page_type_box .page_type_img_box_ {
    display: flex;
    justify-content: center;
}

.page_type_box p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}
.large-txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.small_txt{
    font-weight: normal;
font-size: 11px;
line-height: 26px;
display: flex;
align-items: center;

color: #000000;
}

.addNewModuleCard{
    height: 350px;
}
.btn-create .ant-btn-primary {
    width: 161px;
height: 40px;
background: #0069E7;
border-radius: 6px;
margin: 20px 0 ;
/* text-align: start; */
}
.btn-txt{
    align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.option-dots{
    font-size: 20px;
    color: #BFBFBF;
    margin-top: -25px;
}
.option-dots a {
    color: #BFBFBF;
    text-decoration: none;
    background-color: transparent;
}
.option-dots .ant-dropdown-link{
    text-align: right !important;
    justify-content: right !important;
}