.login-form-box{
    /* height:100%; */
    height: auto;
    width: auto;
    margin: 10% 18%;
    line-height:40px;
}
.login-title{
    font-weight: 800;
font-size: 26px;
}

.loginsubtext {
    font-weight: 600;
    font-size: 16px;
color: #555555;
}
.check-clr.ant-checkbox-checked .ant-checkbox-inner {
    background-color: red;
    border-color: yellow;
}
.signin-text{  
font-weight: 700;
text-align: center;
    font-size: 15px;
}
.signin-text img{
    margin-right: 10px;
}
.text-signin-box{
    background: #FFFFFF;
align-items: center;
padding: 5px 15px;
border: 1px solid #E8F0F3;
box-sizing: border-box;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 10px;
}
.text-input-box{
    background: #FFFFFF;
align-items: center;
padding: 10px 15px;
border: 1px solid #E8F0F3;
box-sizing: border-box;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 10px;
}
.or-sign-in{
    font-weight: normal;
font-size: 15px;
line-height: 19px;
text-align: center;
color: rgba(64, 74, 77, 0.6);
}
.remember-me{
    font-weight: 200;
font-size: 16px;
color: #222222;
}
.login_checkbox.ant-checkbox-inner {
    background-color: red !important;
    border-color: darkred;
}
.forgot-password
{
    font-weight: 500;
font-size: 16px;
color: #4E59E0;
}
.login-button{
    background: #4E59E0;
border-radius: 10px;
justify-content: center;
align-items: center;
padding: 10px;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-weight: 500;
font-size: 15px;
height: 50px;
}
.login-button-text{
    font-weight: 600;
font-size: 16px;
color: #FFFFFF;
}
.login_banner{
    width: '100%';
     height: "100%" ;
     background:"red";
}
.side-img{
    margin: auto;
    padding-top: 20px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}
.banner-text{
    margin:8% auto;
}
.banner-title{
    font-weight: 600;
    font-size: 23px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}
.banner-subtitle{
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.side-img{
    margin: auto;
    text-align: center;
    padding-top: 3%;
}

  @media (max-width: 800px) {
    .login-form-box{
        margin: 6% 10%;
        line-height:40px;
        height: auto;
        width: auto;
    }
    .forgot-password{
        font-size: 12px;
    }
    .remember-me{
        font-size: 11px;
    }
}
@media (max-width: 600px) {
    .login-form-box{
        height: auto;
        width: auto;
        margin: 4% 8%;
        line-height:40px;
    }
}
@media (max-width: 400px) {
    .login-form-box{
        height: auto;
        width: auto;
        margin: 3% 4%;
        line-height:40px;
    }
    .forgot-password{
        font-size: 12px;
    }
    .remember-me{
        font-size: 11px;
    }
}