
/* .card-sm{
/* .container-box{
    width: auto;
    height: 100%;
    padding:10px;
    background-color:#fdf5fdf3;
    justify-content: space-between !important;
} */
.card-sm{
    display: flex;
    justify-content: space-around;
    background-color: transparent !important;
    padding: 0 10%;
} 

.subheader-box .status-div {
    color: #C6BCBC;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 5px;
    border: 0.1px solid #C6BCBC;
}
.subheader-box .preview-btn .ant-btn {
    color: #0069E7; 
    border: 0.5px solid #0069E7;
    border-radius: 5px;
}


.dropdown-border-none .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dropdown-border .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #0069E7;
    color: #0069E7;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}





.dropdown-border .ant-select-arrow {
    /* display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    width: 12px;
    height: 12px;
    margin-top: -6px; */
    color: #0069E7;
    /* font-size: 12px;
    line-height: 1;
    text-align: center;
    pointer-events: none; */
}

.vertical-line {
    border-right: 1px solid #CACACA;
    ;
    height: auto;
    margin: 0 15px;
}

.cancel-box {
    Color: #0069E7;
    font-weight: 400;
    background-color: #F7F7FC;
}

@media(max-width: 420px) {
    .vertical-line {
        border-right: none;
        height: auto;
        margin: 0 15px;
    }
}