.container-box{
    width: auto;
    height: 100% !important;
    /* padding:10px; */
    background-color:#F7F7FC;
    justify-content:center;
    overflow-y: auto;
}
.card-container{
    
    /* justify-content: space-evenly; */
    /* margin: auto; */
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
}


/* .landing-page-card .ant-modal-body {
    padding: 0;
} */

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
        }
        .wrapper{
            display: none;
        }
      }
.wrapper {
    position: relative;
    width: 60px;
    height: 350px;
    margin: auto 0;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    border: 1px dashed #999999;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    border-radius: 50%;
    border: 1px dashed #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}

.or{
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}
.card-box{
    margin: 9% auto;
    width: 85%;
    height: auto;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.card-box .ant-card-body {
    padding: 24 4px;
}
.small-font{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    color: #0C1F44;
}
.mar-30{
    margin-bottom: 60px;
}
.pt-3{
    padding-top: 30px;
}
.mbtc-5{
    margin: 5px;
}
.landing-page-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 3% 0 0 0;
}


.card-box .ant-card-head-title{
    font-size: 22px;
    font-weight: 700;
}
.ant-card-head {
    border-bottom: none !important;
}

.ant-modal-body {
    padding: 0px;}

.create-app-button{
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    height: 45px;
    background: #0069E7;
    border-radius: 100px;
}
.create-app-button-text{
    font-weight: 500;
font-size: 15px;
text-transform: capitalize;
color: #FFFFFF;
}

.create-app-button2{
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 100px;
}
.create-app-button-text2{
    font-weight: 500;
font-size: 15px;
text-transform: capitalize;
color: #0069E7;
}

.checkbox2{
    font-weight: normal;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
color: #595959;
}
.ant-modal-bodyant-modal-close-x{
   font-size: 40px;
   color: #0069E7;
}

@media screen and (max-width: 400px) {
.or{
    display: none;
}
.card-container{
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
}
}
@media screen and (max-width: 800px) {
    .or{
        display: none;
    }
    .card-container{
        padding: auto;
        margin-left: auto;
        margin-right: auto;
        /* flex-direction: row; */
    }
    }
    @media screen and (max-width: 600px) {
        .or{
            display: none;
        }
        .card-container{
            padding: auto;
            margin-left: auto;
            margin-right: auto;
            /* flex-direction: row; */
        }
        }


        .modal-container .ant-modal-close.ant-modal-close-x {
            display: block;
            width: auto;
            color: white !important;
            border: 1px solid white;
            height: auto;
            border-radius: 50%;
            font-size: 16px;
            font-style: normal;
            line-height: 56px;
            text-align: center;
            text-transform: none;
            text-rendering: auto;
        }