.nav_div .ant-layout-header {
    height: auto;
    padding: 0;
    color: rgba(228, 228, 228, 0.85);
    /* line-height: 64px; */
    background: #f1f8ff;
}

 /* .LoginDetailsH5{
     margin: 0;
 }
 .LoginDetailsH4{
     margin: 0;
 } */
 /* .login_details{
     display: inline-block !important;
 } */


/* .nav_div .ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #f1f8ff !important;
    transition: all 0.2s;
    color: black;
}
.nav_div .ant-menu.ant-menu-dark{
    background: rgba(255, 255, 255, 0.65);
    color: #001529;
} */

.nav {
    height: 52px;
    width: 100%;
    min-width: auto;
    /* background-color: #4d4d4d; */
    background: #FFFFFF;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    /* padding: 6px 10px 7px 40px; */
    padding: 3px 0px 2px 32px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right !important;
    justify-content: end !important;
    /* font-size: 18px; */
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  /* .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  
  /* .nav > #nav-check {
    display: none;
  } */
  
  @media (max-width:420px) {
    .nav-links .user-profile  .username {
      margin: auto;
      font-weight: 500;
      font-size: 12px;
    
    }
    .nav-links .user-profile {
      /* margin: auto 20px 0px 10px; */
      /* margin: 1px 5px;  */
     
        margin: 4px 3px 0px 10px;
        /* margin: auto 15px;  */
        /* padding: 2px; */
        display: flex;
    }
    .nav-links .user-profile  > img.avatar {
      /* padding: 0.7em; */
      /* padding: 0.7em; */
      /* margin: 5px; */
      /* margin-left: 15px; */
      /* margin-top: 0.3em; */
      border-radius: 18em;
      width: 30px; 
       height: 30px;
  }
    .nav{
      display: flex;
      height: auto;
      width: 100% !important;
      /* background-color: #4d4d4d; */
      background: #FFFFFF;
    }
    
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 17px;
      color: #fff;
      padding: 7px 10px 7px 25px;
    }
    .nav-links .bell-container > .bell {
      color: #707070;
      font-size: 15px;
  }
  .nav-links .bell-container > .bell >  .vl {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    padding: 12px 20px
  }
    /* .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    } */
  }

  .user-profile {
    margin: 4px 20px 0px 10px;
    /* margin: auto 15px;  */
    /* padding: 2px; */
    display: flex;
  }
  .user-details{
    margin: auto 10px;
  }
  
  .user-profile  .username {
    margin: auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    color: #000000;
  }
  .user-profile  .bio {
    /* margin: auto;
    display: inline-block; */
    text-align: right;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    opacity: 0.6;
  }
 
  .user-profile > img.avatar {
    /* padding: .7em; */
    /* padding: 0.7em;  */
    margin: auto;
    /* margin-left: 15px; */
    /* margin-top: 0.3em; */
    border-radius: 18em;;
    width: 45px;
height: 45px;
  }
  
  /* .user-profile ul.data {
    margin: 2em auto;
    height: 3.70em;
    background: #4eb6b6;
    text-align: center;
    border-radius: 0 0 .3em .3em;
  }
  .user-profile li {
    margin: 0 auto;
    padding: 1.30em; 
    width: 33.33334%;
    display: table-cell;
    text-align: center;
  }
   */
  .user-profile span {
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
  }
  .bell-container{
    margin: auto;
    width: auto; 
    height: auto;
    /* font-size: 28px;   */
  }
  .bell-container .bell{
    color: #707070;
   font-size: 25px;
    /* height: 100%; */
    /* margin: 10px; */
  }
  /* .vl {
    height: 52px;
    margin: auto 15px;
    color: #000000;
    font-weight: 400;
  }
  */
  .bell-container .bell{
    color: #707070;
   font-size: 28px;
    /* height: 100%; */
    /* margin: 10px; */
  }
  .vl {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    padding: 4px 28px;
  }