.tableau-iframe>div{
    width: 100%;
    height: 100%;
}
.sidemenu.ant-layout {
        display: flex;
        flex: auto;
        flex-direction: column;
        min-height: 0;
}
.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: transparent !important;
    transition: all 0.2s;
    /* width: min-content !important; */
}
.ant-menu-inline {
    width: fit-content;
    height: 100% !important;
}
.sidemenu.ant-menu-inline {
    width: min-content !important;
}

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    /* min-height: 0; */
    background: transparent;
    width: 100%;
}
.sidemenu {
    width: max-content !important;
    height: 100%;
}

.ant-layout-sider.ant-layout-sider-dark{
    flex: 0 0 auto!important;
    max-width: auto!important;
    min-width: auto!important;
    width: auto!important;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 20px;
    margin-top: 20px;
}
.ant-menu-item img {
    vertical-align: middle;
    border-style: none;
    width: 19px;
}
.ant-menu-item .ant-menu-item-only-child{
    padding-left: 1px !important;
}
.ant-menu-inline .ant-menu-itemheight {
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 16px;
    overflow: hidden;
    line-height: 40px;
    text-overflow: ellipsis;
}

.nc-home i{
    background-image: '../assets/images/Home.png';
}
.nc-logout{
    background-image: '../assets/images/Logout.png';
}
.nc-create{
    background-image: '../assets/images/Create.png';
}
.nc-file{
    background-image: '../assets/images/Files.png';
}
.nc-blocks{
    background-image: '../assets/images/Blocks.png';
}
.nc-close{
    background-image: '../assets/images/close.png';
}
.nc-arrow-down{
    background-image: '../assets/images/arrrow-down.png';
}