@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

/* body {
    height: auto;
} */

.d-flex{
    display: flex; 
}

.text-center{
    text-align: center;
}

.justify-content-center{
    justify-content:center;
}

.align-items-center{
    align-items:center;
}
.justify-content-between{ 
    justify-content:space-between;
}
.justify-content-around{
    justify-content:space-around;
}
/* .Button_medium, .Button_medium_round, .Button_medium_outline {
    padding: 8px 60px!important;
    display: inline-block!important;
    font-size: 12px!important;
    height:auto!important;
}
.Button_large, .Button_large_round, .Button_large_outline {
    width: 300px
}  */
.mlr{
    margin-left: 1%;
    margin-right: 1%;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}
.ml-2{
    margin-left: 20px;
}
.ml-3{
    margin-left: 30px;
}
.ml-4{
    margin-left: 40px;
}
.ml-5{
    margin-left: 50px;
}
.pr-2{
    padding-right: 20px;
}
.pr-3{
    padding-right: 30px;
}
.pr-4{
    padding-right: 40px;
}
.pr-5{
    padding-right: 50px;
}
.pl-2{
    padding-left: 20px;
}
.pl-3{
    padding-left: 30px;
}
.pl-4{
    padding-left: 40px;
}
.pl-5{
    padding-left: 50px;
}
.mtb-1{
    margin: 10px 0;
}
.mtb-2{
    margin: 20px 0;
}
.mtb-3{
    margin: 30px 0;
}
.mar-2{
    margin: 20px;
}
.mar-3{
    margin: 30px;
}
.mar-4{
    margin: 40px;
}
.mar-5{
    margin: 50px;
}
.ptb-1{
    padding: 10px 0;
}
.ptb-2{
    padding: 20px 0;
}
.pad-1{
    padding:10px;
}
.pad-2{
    padding:20px;
}
.pad-3{
    padding:30px;
}
.pad-3{
    padding:30px;
}
.pad-4{
    padding:40px;
}
.pad-5{
    padding:50px;
}
.mt-5{
    margin-top: 50px;}
    .mb-5{
        margin-bottom: 50px;}
        .mt-1{
            margin-top: 10px;}
            .mt-2{
                margin-top: 20px;}
.label{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */


color: #222222;
}
.bold{
    font-weight: 400;
}
.bolder{
    font-weight: 600;
}
.containers{
    width: 100%;
    height: 100%;
    /* padding: 1%; */
    /* margin: auto; */
    background-color: #FFFFFF;
}
.imgcontainer{
    width: 100%;
    height: auto;
    background:#5763F0;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-direction: row;
    height: 100% !important;
    width: 100%;
    /* */
    /* overflow-y: hidden; */
  }
  

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
.flex-container {
    flex-direction: column;
    }
  }
  .logo-small{
    /* display: flex;
    align-self: flex-start; */
    margin-bottom: '50px';
    margin-left: '0px';
  }
  
  .title{
      font-size: 15px;
      font-weight: 700;
  }
  .subtitle{
      font-size: 12px;
      font-weight: 400;
      color: gray;
  }

  .progressBar .progressBarIcon {
    display         : inline-block;
    background-color: rgba(55, 67, 93, 1);
    opacity         : 0.2;
    width           : calc(18% - 1px);
    height          : 7px;
    margin-right    : 3px;
}

.progressBar .progressBarIcon.active {
    opacity: 1;
}

.progressBar .progressBarIcon:last-child {
    margin-right: 0px;
}
