
/* .card-sm{
/* .container-box{
    width: auto;
    height: 100%;
    padding:10px;
    background-color:#fdf5fdf3;
    justify-content: space-between !important;
} */

.page_type .img-box img{
    margin: 5% 0;
    width: 20%;
}
 
.page_type{
    background-color: #F7F7FC; 
    overflow-x: hidden;
    margin-top: 5px;
}
.card-sm{
    display: flex;
    justify-content: space-around;
    background-color: transparent !important;
    padding: 0 10%;
    margin: 5% 0 5% 0;
} 
.subheader-box,.subheader_components {
    background-color:#ffffff;  
}

.subheader_components.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    /* padding-right: 18px; */
    color: #000 !important;
}
.subheader_components .status-div {
    color: #C6BCBC;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 5px;
    border: 0.1px solid #C6BCBC;
}
.subheader_components .preview-btn .ant-btn {
    color: #0069E7; 
    border: 0.5px solid #0069E7;
    border-radius: 5px;
}
.subheader_components .more-btn .ant-btn {
    color: #0069E7; 
    border: 0.5px solid #0069E7;
    border-radius: 5px;
    width: 60%;
    padding: inherit;
    text-align:center;
    margin:auto;
}

.subheader_components .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dropdown-border .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #0069E7;
    color: #0069E7;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.dropdown-border .ant-select-arrow {
    color: #0069E7;
}

.vertical-line {
    border-right: 1px solid #CACACA;
    height: auto;
    margin: 0 15px;
}

.cancel-box {
    Color: #0069E7;
    font-weight: 400;
    background-color: #F7F7FC;
}

.first_row{
    display: flex;
    justify-content: start;
}
.seconed_row{
    display: flex;
    justify-content: end;
}

@media(max-width: 1200px) {
    .first_row{
        display: flex;
        justify-content: start;
    }
    .seconed_row{
        display: flex;
        justify-content: start;
    }
}

@media(max-width: 420px) {
    .vertical-line {
        border-right: none;
        height: auto;
        margin: 0 15px;
    }
}